ion-header {
  padding: 0;
  ion-toolbar,
  ion-item {
    --background: #f1f5f8;
    background: #f1f5f8;
    padding: 0 10px;
  }
  ion-toolbar {
    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #ffffff;
    }
  }
}

ion-content {
  --background: linear-gradient(90deg, rgba(43, 90, 148, 1) 0%, rgba(45, 112, 229, 1) 35%, rgba(45, 112, 229, 1) 100%);
}

.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
